# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: Copyright the Vortex contributors
InheritParentConfig: true
Checks: |
  -google-build-using-namespace,
  -bugprone-unchecked-optional-access,
